#读取招行富滇银行数据

In [2]:
import pandas as pd

In [28]:
fd_yh=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\富滇银行营业部3820.xls',usecols=['账号','交易日期','转入金额','转出金额'])
fd_yh=fd_yh.rename(columns={'转入金额':'借方','转出金额':'贷方'})
fd_yh['账号']=fd_yh['账号'].astype(str)
fd_yh

                   账号        交易日期   贷方           借方
0  901011010000393820  2020-02-28  0.0  140000000.0

#建设银行读取数据

In [27]:
js=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\建设银行城北支行9780 2月流水.xls')
js=js.rename(columns={'借方发生额（支取）':'借方','贷方发生额（收入）':'贷方','交易时间':'交易日期'})
js=js[~ js['摘要'].str.contains('资金归集',na=False)]
js=js.iloc[:,[0,2,3,4]]
if js.size!=0:
    js['交易日期']=js['交易日期'].str.split(expand = True)

js

                     账号      交易日期  借方  贷方
0  53001905036051019780  20200214  10   0

In [57]:
data=pd.concat([js,fd_yh,xm,xy])
data.set_index(['账号'],inplace=True)
data

                            交易日期            借方            贷方
账号
53001905036051019780    20200214  1.000000e+01  0.000000e+00
901011010000393820    2020-02-28  1.400000e+08  0.000000e+00
8006100000004186      2020-02-27           NaN  8.000000e+06
8006100000004186      2020-02-26           NaN  2.000000e+02
8006100000004186      2020-02-13           NaN  4.000000e+07
8006100000004186      2020-02-13           NaN  5.000000e+07
471100100100061717    2020-02-03  2.180000e+09  0.000000e+00
471100100100061717    2020-02-03  4.100000e+06  0.000000e+00
471100100100061717    2020-02-03  0.000000e+00  7.500000e+06
471100100100061717    2020-02-03  0.000000e+00  9.180000e+07
471100100100061717    2020-02-03  0.000000e+00  3.032681e+04
471100100100061717    2020-02-05  1.000000e+00  0.000000e+00
471100100100061717    2020-02-05  1.000000e+08  0.000000e+00
471100100100061717    2020-02-13  0.000000e+00  6.000000e+07
471100100100061717    2020-02-13  0.000000e+00  4.010941e+05
471100100100061717    2020-02-14  0.000000e+00  2.890000e+08
471100100100061717    2020-02-14  0.000000e+00  3.107001e+07
471100100100061717    2020-02-14  1.000000e+00  0.000000e+00
471100100100061717    2020-02-14  6.800000e+07  0.000000e+00
471100100100061717    2020-02-14  1.000000e+00  0.000000e+00
471100100100061717    2020-02-14  2.890000e+08  0.000000e+00
471100100100061717    2020-02-17  1.000000e+00  0.000000e+00
471100100100061717    2020-02-17  1.378000e+07  0.000000e+00
471100100100061717    2020-02-17  1.000000e+00  0.000000e+00
471100100100061717    2020-02-17  1.722000e+07  0.000000e+00
471100100100061717    2020-02-19  0.000000e+00  2.007412e+07
471100100100061717    2020-02-19  0.000000e+00  4.017059e+07
471100100100061717    2020-02-26  1.000000e+00  0.000000e+00
471100100100061717    2020-02-26  2.500000e+07  0.000000e+00
471100100100061717    2020-02-28  0.000000e+00  5.033803e+07
471100100100061717    2020-02-28  0.000000e+00  9.053846e+07
471100100100061717    2020-02-28  1.000000e+00  0.000000e+00
471100100100061717    2020-02-28  1.400000e+08  0.000000e+00
471100100100061717    2020-03-02  1.000000e+00  0.000000e+00
471100100100061717    2020-03-02  3.700000e+07  0.000000e+00
471100100100061717    2020-03-03  0.000000e+00  3.700000e+07
471100100100061717    2020-03-05  2.000000e+02  0.000000e+00
471100100100061717    2020-03-05  3.700000e+07  0.000000e+00

In [50]:
data.groupby('交易日期')

#厦门银行

In [22]:
xm=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\厦门国际银行4186.xls',usecols=['账户账号','交易日期','转出','转入'])
xm=xm.rename(columns={'转入':'借方','转出':'贷方','账户账号':'账号'})
xm['交易日期']=xm['交易日期'].str.split(expand = True)
xm['账号']=xm['账号'].astype(str)
xm

                 账号        交易日期        贷方  借方
0  8006100000004186  2020-02-27   8000000 NaN
1  8006100000004186  2020-02-26       200 NaN
2  8006100000004186  2020-02-13  40000000 NaN
3  8006100000004186  2020-02-13  50000000 NaN

#工商  有问题待解决（付方账号

In [15]:
gs=pd.read_excel('工商9564.xls',usecols=['付方账号','记账日期','金额','转入'])
#xm=xm.rename(columns={'转入':'借方','转出':'贷方','账户账号':'账号'})
gs  #缺失值填充

               账户账号              交易日期        转出  转入
0  8006100000004186  2020-02-27 13:32   8000000 NaN
1  8006100000004186  2020-02-26 16:42       200 NaN
2  8006100000004186  2020-02-13 14:43  40000000 NaN
3  8006100000004186  2020-02-13 14:43  50000000 NaN

#兴业

In [32]:
xy=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\兴业1717.xls',usecols=['账号','交易日期','借方金额','贷方金额'])
xy=xy.rename(columns={'借方金额':'借方','贷方金额':'贷方'})
xy['交易日期']=xy['交易日期'].str.split(expand = True)
xy['账号']=xy['账号'].astype(str)
xy.head()

                   账号          借方           贷方        交易日期
0  471100100100061717  2180000000         0.00  2020-02-03
1  471100100100061717     4100000         0.00  2020-02-03
2  471100100100061717           0   7500000.00  2020-02-03
3  471100100100061717           0  91800000.00  2020-02-03
4  471100100100061717           0     30326.81  2020-02-03

#招商

In [6]:
zs=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\招商银行0702 2月流水.xls',index=None)
zs_zh=zs.iloc[0,7]
index_name=zs.iloc[7]
zs=zs.rename(columns=index_name)
zs=zs.rename(columns={'借方金额':'借方','贷方金额':'贷方'})
zs=zs[~ zs['交易类型'].str.contains('协议转账',na=False)]
zs=zs.iloc[8:,[0,4,5]]
zs['账号']=zs_zh
zs

         交易日              借方              贷方               账号
8   20200227             NaN  950,297,369.66  871902570210702
11  20200227  543,500,000.00             NaN  871902570210702
13  20200227   42,115,068.49             NaN  871902570210702

#中信

In [3]:
zx=pd.read_excel('中信8939.xlsx',index=None,na_filter=False)
zx_account=zx.iloc[4,2]
index_name=zx.iloc[9]
zx=zx.rename(columns=index_name)
zx=zx.rename(columns={'收款发生额':'借方','付款发生额':'贷方'})
zx=zx.iloc[10:,[0,6,7]]
zx['账号']=zx_account
zx.head()

        交易日期            贷方            借方                   账号
10  20200210                150000000.00  7301810182600038939
11  20200210  150000000.00                7301810182600038939
12  20200214                150000000.00  7301810182600038939
13  20200214  150000000.00                7301810182600038939
14  20200217                340000000.00  7301810182600038939

#民生银行

In [36]:
ms=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\民生5584.xlsx',index=None)
ms_account=ms.iloc[0,1]
index_name=ms.iloc[12]
ms=ms.rename(columns=index_name)
ms=ms.rename(columns={'借方发生额':'借方','贷方发生额':'贷方'})
ms=ms.iloc[13:,[0,2,3]]
ms['账号']=ms_account
ms

          交易日期         借方 贷方         账号
13  2020-02-10    3000000  0  691585584
14  2020-02-17  174000000  0  691585584

#浦发

In [8]:
pf=pd.read_excel('浦发银行0461   2月流水.xls',index_col=None,header=None)
pf_account=pf.iloc[0,1]
index_name=pf.iloc[3]
pf=pf.rename(columns=index_name)
pf=pf.rename(columns={'借方金额':'借方','贷方金额':'贷方'})
pf=pf.iloc[4:,[0,4,5]]
pf['账号']=pf_account
pf

       交易日期             借方   贷方                    账号
4  20200210          15.00  NaN  78010078801500000461

#广发

In [14]:
gf=pd.read_excel('广发0661.xls')#index_col=None,header=None)
gf_account=gf.iloc[0,2]
index_name=gf.iloc[6]
gf=gf.rename(columns=index_name)
gf=gf.rename(columns={'收入':'借方','支出':'贷方','交易时间':'交易日期'})
gf['交易日期']=gf['交易日期'].str.split(expand = True)
gf=gf.iloc[7:,[1,2,3]]
gf['账号']=gf_account
gf

         交易日期 借方         贷方                  账号
7  2020-02-17  -  200000000  132001519010000661

#中行

In [60]:
zh=pd.read_excel('中行0955.xls')
zh_account=zh.iloc[0,1]
index_name=zh.iloc[7]
zh=zh.rename(columns=index_name)
zh=zh.rename(columns={'收入':'借方','支出':'贷方','交易日期[ Transaction Date ]':'交易日期','业务类型[ Business type ]':'业务类型','交易金额[ Trade Amount ]':'交易金额','交易类型[ Transaction Type ]':'交易类型'})
zh=zh.iloc[8:,[0,1,10,13]]
zh=zh[~ zh['业务类型'].str.contains("自动归集|自动下拨",na=False)]
zh['账号']=zh_account
zh_debit=zh[zh['交易类型']=='来账'].rename(columns={'交易金额':'借方'})
zh_debit=zh_debit[['交易日期','账号','借方']]
zh_lender=zh[zh['交易类型']=='往账'].rename(columns={'交易金额':'贷方'})
zh_lender['贷方']=-zh_lender['贷方']
zh_lender=zh_lender[['交易日期','账号','贷方']]
zh_data=pd.concat([zh_debit,zh_lender])
zh_data

         交易日期            账号       借方        贷方
8    20200204  134000420955      120       NaN
14   20200206  134000420955  22698.8       NaN
16   20200210  134000420955  22615.4       NaN
100  20200214  134000420955  34504.5       NaN
102  20200217  134000420955  35063.2       NaN
..        ...           ...      ...       ...
139  20200225  134000420955      NaN     53000
145  20200226  134000420955      NaN   2000000
147  20200227  134000420955      NaN  74000000
153  20200228  134000420955      NaN     71422
155  20200228  134000420955      NaN    300000

[76 rows x 4 columns]

#读取出纳账

In [58]:
cashier=pd.read_excel('出纳账.xls')
index_name=cashier.iloc[6]
cashier=cashier.rename(columns=index_name)
cashier=cashier[7:]
cashier=cashier.iloc[:,[0,4,10,11]].rename(columns={'资金帐户':'账号','单据日期':'交易日期','本币':'借方','支出':'贷方'})
cashier=cashier[~ cashier['账号'].str.contains("小计|累计|单位|NaN",na=False)]
cashier=cashier[:-1]
cashier.set_index(['账号'],inplace=True)
cashier

                            交易日期           借方          贷方
账号
53001905036051019780  2020-02-14          NaN          10
901011010000393820    2020-02-28    140000000         NaN
2502011019022599564   2020-02-14          NaN    88000000
2502011019022599564   2020-02-26          NaN     1752.55
471100100100061717    2020-02-03      30326.8         NaN
471100100100061717    2020-02-03      7500000         NaN
471100100100061717    2020-02-03     91800000         NaN
471100100100061717    2020-02-13     60000000         NaN
471100100100061717    2020-02-14    289000000         NaN
471100100100061717    2020-02-19  2.00741e+07         NaN
471100100100061717    2020-02-19  4.01706e+07         NaN
471100100100061717    2020-02-28  9.05385e+07         NaN
471100100100061717    2020-02-05          NaN           1
471100100100061717    2020-02-03          NaN  2180000000
471100100100061717    2020-02-03          NaN     4100000
471100100100061717    2020-02-05          NaN   100000000
471100100100061717    2020-02-14          NaN   289000000
471100100100061717    2020-02-17          NaN    68000000
471100100100061717    2020-02-14          NaN           1
471100100100061717    2020-02-14          NaN           1
471100100100061717    2020-02-17          NaN           1
471100100100061717    2020-02-17          NaN           1
471100100100061717    2020-02-28          NaN           1
471100100100061717    2020-02-26          NaN           1
471100100100061717    2020-02-17          NaN    17220000
471100100100061717    2020-02-17          NaN    13780000
471100100100061717    2020-02-28          NaN   140000000
471100100100061717    2020-02-26          NaN    25000000
8006100000004186      2020-02-13          NaN    50000000
8006100000004186      2020-02-13          NaN    40000000
8006100000004186      2020-02-28          NaN     8000000
8006100000004186      2020-02-28          NaN         200